<!-- Main Footer -->
<footer class="main-footer" style="background-image: url(assets/images/background/pattern-1.png)">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="/">
                                        <img src="/logo.png" alt="Logo"/>
                                    </a>
                                </div>

                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li class="connect"></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4>Pages</h4>
                                <ul class="list-link">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/menu">Menu</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h4>Contact us</h4>
                                <!-- Info List -->
                                <ul class="info-list">
                                    <li>
                                        <a href="tel:+101-987-567-234">
                                            <span class="icon flaticon-phone-call"></span>+91 12345 12345
                                        </a>
                                    </li>

                                    <li>
                                        <a href="mailto:comidapunto@gmail.com">
                                            <span class="icon flaticon-email"></span>delici@gmail.com
                                        </a>
                                    </li>
                                </ul>
                                <h5>Opening Hours</h5>
                                <ul class="hours-list">
                                    <li>Mon - Sat<span>11:00AM - 11:00PM</span></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget newsletter-widget"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">
                ©
                <script>document.write(new Date().getFullYear());</script>
                <a href="#">DELICI&trade;</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Main Footer -->