<header class="main-header header-style-one">
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="outer-container clearfix">

            <div class="pull-left logo-box px-3"
                 style="border-radius: 6px;margin-top: 1.8rem;background-color: #C19D60">
                <div class="logo"><a href="/"><img src="/logo.png" alt="" title=""></a></div>
            </div>

            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li><a href="/">Home</a></li>

                            <li><a href="/menu">Our Menu</a></li>

                            <li><a href="/about">About</a></li>

                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->

                <!-- Outer Box -->
                <div class="outer-box clearfix">

                    <!-- Login Box -->
                    <!--                    <div class="login-box" id="loginLink"></div>-->
                    <div class="login-box">
                        <a href="/user-login" class="flaticon-user-1"></a>
                    </div>

                    <!-- Cart Box -->
                    <div class="cart-box">
                        <div class="dropdown">
                            <button onclick="goShoppingCart()" class="cart-box-btn dropdown-toggle"
                                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="flaticon-shopping-cart-1"></span><span class="total-cart"></span>
                            </button>
                        </div>
                    </div>

                    <!-- Delivery Box -->
                    <!--                    <div class="delivery-box">-->
                    <!--                        <div class="box-inner">-->
                    <!--                            <span class="icon flaticon-delivery"></span>-->
                    <!--                            Order & Get Free Delivery<br>-->
                    <!--                            <a href="tel:+101-987-567-234">+101 987 567 234</a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!-- End Delivery Box -->

                </div>
                <!-- End Outer Box -->

            </div>

        </div>
    </div>
    <!--End Header Upper-->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left px-3" style="border-radius: 6px;margin-top: 4px;background-color: #C19D60">
                <div class="logo"><a href="/"><img src="/logo.png" alt="" title=""></a></div>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav><!-- Main Menu End-->

                <!-- Main Menu End-->
                <div class="outer-box clearfix">
                    <!-- Login Box -->
                    <div class="login-box">
                        <a href="/user-login" class="flaticon-user-1"></a>
                    </div>

                    <!-- Cart Box -->
                    <div class="cart-box">
                        <div class="dropdown">
                            <button onclick="goShoppingCart()" class="cart-box-btn dropdown-toggle" type="button"
                                    id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"><span class="flaticon-shopping-cart-1">

                                </span><span class="total-cart"></span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div><!-- End Sticky Menu -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

        <nav class="menu-box">
            <div class="nav-logo"><a href="index.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
            <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
        </nav>
    </div><!-- End Mobile Menu -->

</header>