<div class="header-top">
    <div class="outer-container">
        <div class="clearfix">

            <!-- Top Left -->
            <div class="top-left pull-right">
                <!-- Social Box -->
                <ul class="social-box"></ul>
            </div>

            <!-- Top Right -->
            <div class="top-right">
                <!-- Info List -->
                <ul class="info-list">
                    <li><a href="tel:+101-987-567-234"><span class="icon flaticon-phone-call"></span> +91 12345 12345</a></li>
                    <li><a href="mailto:comidapunto@gmail.com"><span class="icon flaticon-email"></span> delici@support.com</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>