<section class="banner-section">
    <div class="main-slider-carousel owl-carousel owl-theme">
        <div class="slide" style="background-image: url(/assets/images/main-slider/image-2.jpg)">
            <div class="auto-container">
                <div class="content-column centered">
                    <div class="inner-column">
                        <h1 style="visibility: hidden">We Make <br> An <span>Excelllent</span> <br> Food</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>