<section class="menu-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Menu Block -->
            <div class="menu-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="/assets/images/menu/menu-image-2.jpg" alt="" />
                        <!-- Overlay Box -->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <!--                                        <h2><a href="#">Lunch</a></h2>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Menu Block -->
            <div class="menu-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="/assets/images/menu/menu-image-3.jpg" alt="" />
                        <!-- Overlay Box -->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <!--                                        <h2><a href="#">Dinner</a></h2>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Menu Block -->
            <div class="menu-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="/assets/images/menu/menu-image-4.jpg" alt="" />
                        <!-- Overlay Box -->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <!--                                        <h2><a href="#">Desert</a></h2>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>